@model IEnumerable<Tickets.Web.Models.CartViewModel>
@{
    ViewBag.Title = "Корзина пользователя";
}
@section Styles
{
    <link rel="stylesheet" href="~/Content/Custom/customStyle.css" />
}

<div class="col-md-12">
    @foreach (var p in Model)
    {
        <div class="row">
            <div class="col-md-2">
                <label>@p.EventName</label>
            </div>
            <div class="col-md-1">
                <label>Дата и время: @p.TicketDate</label>
            </div>
            <div class="col-md-1">
                <label>Цена билета: @p.Price</label>
            </div>
            @using (Html.BeginForm("ChangeStatus", "Cart", FormMethod.Post))
            {
                <div class="col-md-3">
                    @Html.AntiForgeryToken()
                    <label>Количество билетов: </label>
                    @if (p.IsCompleted)
                    {
                        @Html.TextBox("ticketCount", p.TicketCount, htmlAttributes: new
                   {
                       @disabled = "disabled",
                       @type = "number",
                       @min = "1",
                       @max = p.AvailableTicketCount
                   })
                    }
                    else
                    {
                        @Html.TextBox("ticketCount",p.TicketCount, htmlAttributes: new
                   {
                       @type = "number",
                       @min = "1",
                       @max = p.AvailableTicketCount
                   })
                    }
                </div>
                <div class="col-md-5">
                    @if (!p.IsCompleted)
                    {
                        <button class="btn btn-primary" name="action" value="confirm">Подтвердить</button>
                    }
                    <button class="btn btn-danger" name="action" value="cancel">Отменить</button>
                </div>
                @Html.Hidden("purchaseId", p.PurchaseId)
            }
            
            <hr/>
        </div>
    }
</div>